<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edag">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{{metaTag meta}}}
  <title>{{config title 'html-webpack-template-plugin example'}}</title>
  {{#each stylesheets}}
  <link rel="stylesheets" href="{{this}}">
  {{/each}}
</head>
<body>
  {{#if body}}
  {{{body}}}
  {{else}}
  <div id="#app"></app>
  {{/if}}
  {{#each scripts}}
  <script src="{{this}}"></script>
  {{/each}}
</body>
</html>

