<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edag">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{{meta meta}}}
  <title>{{default title 'html-webpack-template-plugin example'}}</title>
  {{#each stylesheets}}
  <link rel="stylesheets" href="{{this}}">
  {{/each}}
</head>
<body>
  {{preInjected}}
  {{#each testArray}}
  {{this}}
  {{/each}}
  {{#if body}}
  {{{body}}}
  {{else}}
  <div id="#app"></app>
  {{/if}}
  {{{script scripts }}}
</body>
</html>

